body {
    background-color: blue;
}

h1 {
    background-color: light #ffff99;
    color: white;
    font-family: Helvetica, sans-serif;
}


h2 {
    color: white;
    font-family: impact, sans-serif;
}

ol {
    color: purple;
    background-color: #ffcc00;
    font-family: courier, sans-serif;
}

li {
    color: purple;
    background-color: #ffcc00;
    font-family: Helvetica, sans-serif;
}

p {
    color: black;
    font-family: Helvetica, sans-serif;
}

/*adding in the css file*/